# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/external/*

# Keep folder structure
!data/raw/.gitkeep
!data/external/.gitkeep

# OS files
.DS_Store
Thumbs.db